<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stock Tracking</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <!-- Font Awesome -->

  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/lib/datatables/media/css/jquery.dataTables.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .myCustomClass {
      border-color: rgb(0, 190, 0);
      background-color: #ddd;
      width: 250px;
      height: 250px;
    }

    .myCustomClass .qtip-content {
      font-size: 12px;
    }

    .qtip-wiki {
      padding: 50px;
      max-width: 385px;
    }

    .qtip-wiki p {
      margin: 0 0 6px;
    }
  </style>
  <script>
    // Popup window code
    function newPopup(url) {
      popupWindow = window.open(
        url, 'popUpWindow', 'height=800,width=1000,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
  </script>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->

<body class="hold-transition skin-blue layout-top-nav" ng-app='stock' ng-controller='stockCtrl'>
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">Overview</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>

            </ul>

          </div>
          <!-- /.navbar-collapse -->
          <!-- Navbar Right Menu -->
          <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">选择:</h3>
                </div>
                <div class="box-body">
                  <div class="row">

                    <div class="col-xs-3">

                      <select class="form-control" ng-model="type">
                                            <option ng-repeat = "t in types">{{t.type}}</option>
                                          </select>
                    </div>
                    <div class="col-xs-3">
                      <input type="date" ng-model="date" class="form-control" placeholder="Date">
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class=" form-check">
                        <input class="form-check-input" type="radio" name="selection" id="exampleRadios1" value="all" checked>
                        <label class="form-check-label" for="all">
                        全部
                      </label>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class=" form-check">
                        <input class="form-check-input" type="radio" name="selection" id="exampleRadios2" value="more">
                        <label class="form-check-label" for="less">
                        相比昨天增加的股
                      </label>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class=" form-check">
                        <input class="form-check-input" type="radio" name="selection" id="exampleRadios2" value="less">
                        <label class="form-check-label" for="less">
                      相比昨天减少的股
                    </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="radio" name="selection" value="volumnHighest">
                            <label class="form-check-label" for="volumnHighest">
                            成交量排名前
                          </label>
                          </div>
                        </div>
                        <input type="text" class="form-control" name="volumnHighest" ng-disabled="!isVolumnHighestchecked">
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="radio" name="selection" value="volumnHigher">
                            <label class="form-check-label" for="volumnHigher">
                          成交量高于
                        </label>
                          </div>
                        </div>
                        <input type="text" class="form-control" name="volumnHigher" ng-disabled="!isVolumnHigherchecked">
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <input type="button" value="Search" class="btn btn-info btn-flat" ng-click="go()" />
                    </div>

                      <div class="col-xs-3">
                        <button class="btn btn-info btn-flat" ng-click = "downloadCSV({ filename: 'TJG.blk' })">导出列表</button>

                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">选股列表</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <table id="ongoing" class="table table-bordered display">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>代码</th>
                          <th>名称</th>
                          <th>当天涨幅</th>
                          <th>第二天涨幅</th>
                          <th>第三天涨幅</th>
                          <th>第四天涨幅</th>
                          <th>第五天涨幅</th>
                          <th>第六天涨幅</th>
                          <th>第二天开盘</th>
                          <th>第三天最高</th>
                          <th>第六天收盘</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>

              <!-- /.container -->
            </div>
            <!-- /.content-wrapper -->
            <div class="row">
              <div class="col-md-12">

                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">统计</h3>
                  </div>
                  <div class="box-body">
                    <table id="statistic" class="table table-bordered display">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>名称</th>
                          <th>代码</th>
                          <th>第二天开盘价</th>
                          <th>第三天卖出价/盈利</th>
                          <th>第四天卖出价/盈利</th>
                          <th>第五天卖出价/盈利</th>
                          <th>第六天卖出价/盈利</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </section>

        </div>
        </div>

        <!-- jQuery 2.1.4 -->
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/lib/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/lib/angular-datatables/dist/angular-datatables.min.js"></script>
        <script src="/lib/datatables.net-select/js/dataTables.select.min.js"></script>
        <script src="/lib/underscore/underscore-min.js"></script>
        <script src="/lib/highcharts/highstock.js"></script>
        <script src="/lib/highcharts/js/modules/exporting.js"></script>
        <!-- AdminLTE App -->
        <script src="/js/app.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/js/demo.js"></script>
        <script src= "/js/index.js"></script>
        <script>

        </script>
</body>

</html>
